{% extends '::base.html.twig' %}

{% block title %}
    <title>History</title>
{% endblock %}

{% block body %}
    <h2>{{ productId}}</h2>
        {% block table %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Warehouse</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in history %}
                            <tr>
                                <td>{{ record.time|date('d/m/Y H:i:s') }}</td>
                                <td>{{ record.warehouse.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
    <p class="paginiation">
        {% for page in 1..totalPages %}
            <a href="{{ path('product_history', {"id": productId, "offset": limit * (page - 1), "limit": limit}) }}" class="nav-item{% if currentPage == page %} current{% endif %}">{{ page }}</a>
        {% endfor %}
    </p>
    </div>
</div>
{% endblock %}