{% extends '::base.html.twig' %}

{% block title %}
<title>Jobs</title>
{% endblock %}




{% block body %}
    <h1>Jobs</h1>
    {% block table %}
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                   <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Job Address</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                        </tr>
                   </thead>
                   <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td>{{ job.name }}</td>
                                <td>{{ job.address }}</td>
                                <td>{{ job.start|date('d/m/Y') }}</td>
                                <td>{{ job.end|date('d/m/Y') }}</td>
                                <td>{{ job.created|date('d/m/Y H:i:s') }}</td>
                                <td><a href="{{ path('job_edit',{'id':job.id}) }}"><span class="glyphicon glyphicon-wrench" aria-hidden=true></span></a>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('job_drop',{'id':job.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden=true></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                   </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
<a href="{{ path('job_add') }}" class="btn btn-lg btn-info">add new job</a>

{% endblock %}
