{% extends '::base.html.twig' %}

{% block body %}
    <code>
       <table>
            <tr>
                <th>Name</th>
                <th>UUID</th>
                <th>Warehouse (Last seen at)</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name}}</td>
                    <td><a href="{{ path('product_edit',{'id':product.id}) }}">{{ product.id }}</a></td>
                    <td><a href="{{ path('product_history',{'id':product.id}) }}">
                        {% for warehouse in product.warehouses %}
                            {% set lastRecord = historyRepo.findLastRecordOfProductInWarehouse(warehouse, product) %}
                            {{ warehouse.name}} {% if lastRecord %}({{ lastRecord.time|date('d/m/Y H:i:s') }}){% endif %} {# check op last en br toevoegen en zo #}
                        {% endfor %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <a href="{{ path('product_add') }}">add new product</a>
    </code>
{% endblock %}
{% block javascripts %}{% endblock %}


