{% extends '::base.html.twig' %}
{% block title %}
    <title>Products</title>
{% endblock %}

{% block body %}
    {% block table %}

<h1 STYLE="text-align: right;">WORKORDER</h1>
<img src="{{ asset('images/logo3.png') }}" alt="Asset Tracking" align="left" style="width:200px;height:209px;">
<P STYLE="text-align: left;">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
Agoralaan<br/>
3590, Diepenbeek<br/>
0475/11.15.19<br/>
BE0456.987.123<br/>
</P>



<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for workorder in info %}
                <tr>
                    <td>{{ workorder.description }}</td>
                    <td>{{ workorder.start|date('d/m/Y') }}</td>
                    <td>{{ workorder.end|date('d/m/Y') }}</td>
                    <td>{{ workorder.job.address }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% endblock %}