<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <code>
            {% for Product in product %}
                <li>{{ Product.name }}</li>
                    <a href="{{ path('product_edit',{'id':Product.id}) }}">
               <li>{{ Product.id }}</li>
                    </a>
                <br/>
            {% endfor %}
            <a href="{{ path('product_add') }}">add new product</a>
            </code>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
