{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Login!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>
{% block body %}
    <code>
        <a href="{{ path('login') }}">Login</a><br/>
        <a href="{{ path('product_list') }}">Products</a><br/>
        <a href="{{ path('warehouse_list') }}">Warehouses</a><br/>
        <a href="{{ path('user_registration') }}">Register</a><br/>


        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit">login</button>
        </form>
    </code>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>